body{
    width: '100vh';
    margin: 0;
}

header{
    display: flex;
}

section{
    justify-content: center;
    display: flex;
    align-items: center;
}

h1{
    font-size: '300px';
}

aside{
    max-width: '20px';
}

footer {
    display: flex;
}
